# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
xcuserdata/
*.xcuserstate
*.xccheckout
*.moved-to-trash
DerivedData/
build/
*.hmap
*.ipa
*.xcarchive

# CocoaPods
Pods/
Podfile.lock

# Swift Package Manager
.build/
.swiftpm/
